body {
  background-color: #FFFFFF;    
}
.container {
  width: 50%;
}
.container .errorWrapper {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 700;
}
.container .loader {
  margin: 0 auto;
  text-align: center;
  display: none;
}
.scrapDetails {
  display: none;
  max-width: 100%;
  min-width: 60%;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  width: 310px;
}